<!DOCTYPE html>
<html>
  <head>
    <title>
      Guessing Game
    </title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/script.js"></script>
  </head>
  <body style="background-color: #111; text-align: center; color: #EEE; font-family: sans-serif;">
    <div style="margin-top: 2em; margin-bottom: 2em;">
      <span id="question" style="font-size: 8em"></span>
      <div>
        <input id="answer" type="text" size="15" style="font-size: 2em; color: #EEE; background-color: #181818; text-align: center;" autofocus="">
      </div>
    </div>
    <div style="margin-top: 2em;">
      <span id="feedback" style="color: #DB576D; font-size: 2em;"></span>
    </div>
  </body>
</html>
